html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-orders {
    width : 100%;
    margin-bottom: 10px; 

}



.width-form-order{
    width: 100%; 
}

.producten-in-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Order-terug-index {
    position: fixed;
    right: 10%;
}

.save-order {
    position: fixed;
    right: 10%;
    bottom: 10%;

}

    .save-order input {
        padding: 10px 30px;
        
    }