@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col">
        <div class="card border-2">
            <a class="btn text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
        </div>
    </div>
    <div class="col">
        <div class="card border-2">
            <a class="btn text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
        </div>
    </div>
    <div class="col">
        <div class="card border-2">
            <a class="btn text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
    <div class="col">
        <div class="card border-2">
            <a class="btn text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
</div>
