@model DataAccessLayer.ViewModel.OrderViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="Order-terug-index">
    <a asp-action="Index" class="btn btn-primary">
        Terug naar lijst
    </a>
</div>
<h1>Order Aanmaken</h1>


<hr />
<div class="row width-form-order">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-orders">
                <label class="control-label">Orderdatum</label>
                <input asp-for="OrderDate"  class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group form-orders">
                <label  class="control-label">Customer</label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group form-orders">
                <label>Product</label>

                <div class="d-flex gap-2">
                    <select id="productSelect" class="form-control">

                        @foreach (var product in ViewBag.Products)
                        {
                            <option value="@product.Id">
                                @product.Name (€@product.Price)
                            </option>
                        }

                    </select>
                
                    </select>
                    <div class = "product-actions"> 
                  
                    <button type="button"
                            id="addProductBtn"
                            class="btn btn-success">
                        Toevoegen
                    </button>
                </div>
                </div>
            </div>

            <hr />

            <h5>Producten bij Order</h5>

            <ul id="productList" class="list-group-item "></ul>

            <div id="hiddenProductsContainer" class="producten-in-order"></div>


            <div class="form-group  save-order">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
