@model DataAccessLayer.ViewModel.OrderViewModel

@{
    ViewData["Title"] = "Order toevoegen";
}

<div class="h1 mb-3">Nieuwe order</div>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Orderdatum</label>
                <input asp-for="OrderDate" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Customer</label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>

            <div class="form-group">
                <label>Product</label>

                <div class="d-flex gap-2">
                    <select id="productSelect" class="form-control">

                        @foreach (var product in ViewBag.Products)
                        {
                            <option value="@product.Id">
                                @product.Name (€@product.Price)
                            </option>
                        }

                    </select>
                    <div class = "product-actions"> 

                    <button type="button"
                            id="addProductBtn"
                            class="btn btn-success">
                        Toevoegen
                    </button>
                </div>
                </div>
            </div>

            <hr />

            <h5>Producten bij Order</h5>

            <ul id="productList" class="list-group-item "></ul>

            <div id="hiddenProductsContainer" class="producten-in-order"></div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
            <input type="submit" value="Toevoegen" class="btn btn-primary ml-2" />
        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
