@model DataAccessLayer.Models.Customer

@{
    ViewData["Title"] = "Klant Details";
}

<div class="h1 mb-3">@Html.DisplayFor(p => p.Name)</div>
<hr />

<div class="productDetails">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Naam</label>
                <div class="form-control border-1 border-secondary">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Adres</label>
                <div class="form-control border-1 border-secondary">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Actief</label>
                <div class="form-control border-1 border-secondary">
                    @Html.DisplayFor(model => model.Active)
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Bewerken</a>
            <a asp-action="Index" class="btn btn-secondary">Terug naar lijst</a>
        </div>
    </div>
</div>
