@model DataAccessLayer.Models.Customer

@{
    ViewData["Title"] = "Klant bewerken";
}

<div class="h1 mb-3">@Html.DisplayFor(p => p.Name) Bewerken</div>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Naam</label>
                <input asp-for="Name" class="form-control" placeholder="Naam..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Adres</label>
                <input asp-for="Address" class="form-control" placeholder="Adres..." />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
			<input type="submit" value="Opslaan" class="btn btn-primary ml-2" />
            <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
