@model DataAccessLayer.Models.Category

@{
    ViewData["Title"] = "Categorie Details";
}

<div class="h1 mb-3">@Html.DisplayFor(p => p.Name) Details</div>
<hr />

<div class="productDetails">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Naam</label>
                <div class="form-control border-1 border-secondary">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Beschrijving</label>
                <div class="form-control border-1 border-secondary">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Aantal Producten</label>
                <div class="form-control border-1 border-secondary">
                    @Model.Products.Count
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Bewerken</a>
            <a asp-action="Index" class="btn btn-secondary">Terug naar lijst</a>
        </div>
    </div>
</div>
